{% extends 'main/layout.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>Вход в систему</h1>
    <div class="mt-4 d-flex justify-content-center gap-3">
        <a href="https://t.me/testregistrationskillsettbot?start=register" class="btn btn-primary btn-lg">
            <i class="fab fa-telegram"></i> Зарегистрироваться через Telegram
        </a>
        <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg">
            <i class="fa fa-sign-in"></i> Войти
        </a>
    </div>
</div>
{% endblock %}
